<% layout('layouts/boilerplate')%>
<div id="chatroomList" class="col-md-3">
    <h1><%= names["All Chatrooms"]%></h1>
    <a class="btn" id="createChatroomButton" href="/chatrooms/new"><%= names["Create New Chatroom"]%></a>
    <% for (let chatroom of chatrooms){%>
    <div class="chatroomListItem">
        <a href="/chatrooms/<%=chatroom._id%>" class="custom-card" style="color: inherit;">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=chatroom.image%>" style="padding-top: auto 1px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= chatroom.title %> </h5>
                            <p class="card-text"><%= chatroom.description %></p>
                            <!-- <a class="btn btn-primary" href="/chatrooms/<%=chatroom._id%>">View <%=chatroom.title%> Chatroom</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <% }%>
</div>
<link rel="stylesheet" type="text/css" href="/chatrooms/index.css">