<% layout('layouts/boilerplate')%>
<div class="rowx">
    
    <h1 class="text-center"><%= names["New Chatroom"] %></h1>
    
    <div class="col-6 offset-3">
        
        <form action="/chatrooms" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label class="form-label" for="title"><%= names["Title"] %></label>
                <input class="form-control" type="text" id="title" name="chatroom[title]" required>
                <div class="valid-feedback">
                    <%= names["Looks good!"] %>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description"><%= names["Description"] %></label>
                <textarea class="form-control" type="text" id="description" name="chatroom[description]"
                    required></textarea>
                <div class="valid-feedback">
                    <%= names["Looks good!"] %>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image">
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label"><%= names["Choose an image"] %></span>
                        <span class="form-file-button"><%= names["Browse"] %></span>
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success"><%= names["Add Chatroom"] %></button>
            </div>

        </form>

        <a class="imx" href="/chatrooms"><%= names["All Chatrooms"] %></a>
    
    </div>
</div>