<div class="row" style="height: 100%;">
    <%- include('./index')%>

    <div  class="col-md-9" id="chatroom">

        <div class="row" id="chatroomInfo">
            <div class="col-md-2">
                <img class="img-fluid" alt="" src="<%=chatroom.image%>">
            </div>
            <div class="col-md-10" id="chatroomInfoText">
                    <h4><%= chatroom.title %> </h4>
                    <p><%= chatroom.description %></p>
                    <% if(currentUser && chatroom.creator.equals(currentUser._id)) { %>
                        <div>
                            <form action="/chatrooms/<%=chatroom._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                                <a class="btn btn-secondary" href="/chatrooms/<%=chatroom._id%>/edit" role="button">Edit</a>
                            </form>
                        </div>
                    <% } %>
                    <!-- <a class="btn btn-primary" href="/chatrooms/<%=chatroom._id%>">View <%=chatroom.title%> Chatroom</a> -->
            </div>
        </div>

        <hr>

        <div id="chatLog">
            <% for(let i=0; i < data.length; i++) {%>
                <% let chat=data[i]%>
                <div class="card <%= username === chat.senderName? 'myMsg':''%>">
                    <div class="row">
                        <% if(username !== chat.senderName){%>
                        <div class="col-md-2 sendInfo">
                            <img class="img-fluid" alt="" src= <%= chat.portrait? chat.portrait: "/images/avatars/default_avatar.png" %> style="padding-top: auto 1px;">
                            <h5 class="card-title">
                                <%= chat.senderName %>
                            </h5>
                        </div>
                        <%}%>
                        
                        <div class="col-md-10">
                            <!-- <h5 class="card-title">
                                <%= chat.senderName %>
                            </h5> -->
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= new Date(chat.sendTime).toLocaleString()%>
                                </h6>
                                <p class="originalData card-text" style="display: none;">
                                    Original: <%=chat.originalMsg%> (Language: <%= decodeURI(chat.originalLanguage)%>)
                                </p>
                                <p class="card-text">
                                    <%= chat.translatedMsg%>
                                </p>
                            </div>

                        </div>
                        <% if(username === chat.senderName){%>
                            <div class="col-md-2 sendInfo">
                                <img class="img-fluid" alt="" src= <%= user.image? user.image: "/images/avatars/default_avatar.png" %> style="padding-top: auto 1px;">
                                <h5 class="card-title">
                                    <%= chat.senderName %>
                                </h5>
                            </div>
                            <%}%>
                    </div>
                    
                </div>
            <% } %>
    
        </div>

        <hr>

        <div id="sendMsg">
            <p>Write your message:</p>
            <!-- <label for="sendMsgText">Write a Message</label> -->
            <button id="buttonEmoji" type="button" class="btn btn-info">
                <span>ðŸ˜‚</span>  Use Emojis
            </button>
            <div id='emojis'>
                <table class="">
                    <tbody>
                        <% let emojis = ["ðŸ˜€","ðŸ˜ƒ","ðŸ˜„","ðŸ˜","ðŸ˜†","ðŸ˜…","ðŸ˜‚","ðŸ¤£","ðŸ¥²","ðŸ˜Š","ðŸ˜‡","ðŸ™‚","ðŸ™ƒ","ðŸ˜‰","ðŸ˜Œ","ðŸ˜","ðŸ¥°","ðŸ˜˜","ðŸ˜—","ðŸ˜™","ðŸ˜š","ðŸ˜‹","ðŸ˜›","ðŸ˜","ðŸ˜œ","ðŸ¤ª","ðŸ¤¨","ðŸ§","ðŸ¤“","ðŸ˜Ž","ðŸ¥¸","ðŸ¤©","ðŸ¥³","ðŸ˜","ðŸ˜’","ðŸ˜ž","ðŸ˜”","ðŸ˜Ÿ","ðŸ˜•","ðŸ™","ðŸ˜£","ðŸ˜–","ðŸ˜«","ðŸ˜©","ðŸ¥º","ðŸ˜¢","ðŸ˜­","ðŸ˜¤","ðŸ˜ ","ðŸ˜¡","ðŸ¤¬","ðŸ¤¯","ðŸ˜³","ðŸ¥µ","ðŸ¥¶","ðŸ˜±","ðŸ˜¨","ðŸ˜°","ðŸ˜¥","ðŸ˜“","ðŸ¤—","ðŸ¤”","ðŸ¤­","ðŸ¤«","ðŸ¤¥","ðŸ˜¶","ðŸ˜","ðŸ˜‘","ðŸ˜¬","ðŸ™„","ðŸ˜¯","ðŸ˜¦","ðŸ˜§","ðŸ˜®","ðŸ˜²","ðŸ¥±","ðŸ˜´","ðŸ¤¤","ðŸ˜ª","ðŸ˜µ","ðŸ¤","ðŸ¥´","ðŸ¤¢","ðŸ¤®","ðŸ¤§","ðŸ˜·","ðŸ¤’","ðŸ¤•","ðŸ¤‘","ðŸ’©"] %>
                        <% for(let i=0; i < emojis.length; i++){ %>
                            <button class="emoji"><%= emojis[i] %></button>
                        <% }%>
                    </tbody>
                </table>
            </div>
    
            <textarea class="form-control" id="sendMsgText" rows="3" placeholder="Type here..."></textarea>
            <p class="alert alert-danger" role="alert" id="sendMsgError"></p>
            <button type="button" class="btn btn-success" id="sendMsgButton">Send</button>
            <button type="button" class="btn btn-warning" id="clearMsgButton">Clear</button>
    
        </div>

        <ul id="messages"></ul>
        
    </div>
    
</div>
<link rel="stylesheet" type="text/css" href="/chatrooms/show.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"
integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw=="
crossorigin="anonymous"></script>
<script src="/chatrooms/chatrooms.js"></script>