<div class="row" style="height: 100%;">
  <% layout('layouts/boilerplate')%>
  <div id="friendList" class="col-md-3">
    <h1>Friends</h1>
    <a class="btn custome_toggle_button dropdown-toggle" id="toggleAddFriendButton" href="">  &nbsp;&nbsp;Add Friend&nbsp;</a>
    <div id="toggleAddFriend">
      <div class="card">
        <div class="card-body">
          <form class="validated-form">
            <div class="mb-3">
                <input class="form-control" type="text" id="searchUserInput" name="friendlist"  placeholder="Name or Email" required>
            </div>
            <button class="btn btn-success" id="searchUserButton">Search</button>
        </form>
        </div>
      </div>
      <div id="toggleAddFriendList">

      </div>
    </div>

    <a class="btn custome_toggle_button dropdown-toggle" id="togglePendingListButton" href="">Pending List</a>
    <div id="togglePendingList">

    </div>
    <% for (let friend of friends){%>
    <div class="friendListItem" friendId="<%=friend.friendId%>" friendName="<%=friend.friendname%>">
      <a href="#" class="custom-card" style="color: inherit;">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" alt="" src="<%= friend.friendImage?friend.friendImage:"/images/avatars/default_avatar.png" %>" style="padding-top: auto 1px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= friend.friendname %> </h5>
                <span class="badge bg-info ms-2"></span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% }%>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-8" id="friendChat" style="display: none;">
    <div class="row" id="friendChatInfo">
      <h4 id="currentChatFriend"></h4>
    </div>

    <div id="chatLog">

    </div>
    <div id="sendMsg">
      <label for="sendMsgText">Send Message</label>
      <button id="buttonEmoji" type="button" class="btn btn-info">
        <span>ðŸ˜‚</span> emojis
      </button>
      <div id='emojis'>
        <table class="">
          <tbody>
            <% let emojis = ["ðŸ˜€","ðŸ˜ƒ","ðŸ˜„","ðŸ˜","ðŸ˜†","ðŸ˜…","ðŸ˜‚","ðŸ¤£","ðŸ¥²","ðŸ˜Š","ðŸ˜‡","ðŸ™‚","ðŸ™ƒ","ðŸ˜‰","ðŸ˜Œ","ðŸ˜","ðŸ¥°","ðŸ˜˜","ðŸ˜—","ðŸ˜™","ðŸ˜š","ðŸ˜‹","ðŸ˜›","ðŸ˜","ðŸ˜œ","ðŸ¤ª","ðŸ¤¨","ðŸ§","ðŸ¤“","ðŸ˜Ž","ðŸ¥¸","ðŸ¤©","ðŸ¥³","ðŸ˜","ðŸ˜’","ðŸ˜ž","ðŸ˜”","ðŸ˜Ÿ","ðŸ˜•","ðŸ™","ðŸ˜£","ðŸ˜–","ðŸ˜«","ðŸ˜©","ðŸ¥º","ðŸ˜¢","ðŸ˜­","ðŸ˜¤","ðŸ˜ ","ðŸ˜¡","ðŸ¤¬","ðŸ¤¯","ðŸ˜³","ðŸ¥µ","ðŸ¥¶","ðŸ˜±","ðŸ˜¨","ðŸ˜°","ðŸ˜¥","ðŸ˜“","ðŸ¤—","ðŸ¤”","ðŸ¤­","ðŸ¤«","ðŸ¤¥","ðŸ˜¶","ðŸ˜","ðŸ˜‘","ðŸ˜¬","ðŸ™„","ðŸ˜¯","ðŸ˜¦","ðŸ˜§","ðŸ˜®","ðŸ˜²","ðŸ¥±","ðŸ˜´","ðŸ¤¤","ðŸ˜ª","ðŸ˜µ","ðŸ¤","ðŸ¥´","ðŸ¤¢","ðŸ¤®","ðŸ¤§","ðŸ˜·","ðŸ¤’","ðŸ¤•","ðŸ¤‘","ðŸ’©"] %>
            <% for(let i=0; i < emojis.length; i++){ %>
            <button class="emoji"><%= emojis[i] %></button>
            <% }%>
          </tbody>
        </table>

      </div>

      <textarea class="form-control" id="sendMsgText" rows="3" placeholder="Type here..."></textarea>
      <p class="alert alert-danger" role="alert" id="sendMsgError"></p>
      <button type="button" class="btn btn-success" id="sendMsgButton">Send</button>
      <button type="button" class="btn btn-warning" id="clearMsgButton">Clear</button>

    </div>
    <ul id="messages"></ul>


  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"
  integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw=="
  crossorigin="anonymous"></script>
<script src="/users/friend.js"></script>
<link rel="stylesheet" type="text/css" href="/users/friend.css">