<% layout('layouts/boilerplate')%>

<div class="login">

    <h1><%= names["Login"]%></h1>
    
    <form action="/login" method="POST" class="validated-form" novalidate>
    
    <div class="mb-3">
        <label class="form-label" for="language"><%= names["Language"]%></label>
        <select class="custom-select" id="language" name="language">
            <% for (const lang in langs) { %>
                <option value="<%= langs[lang] %>" <%= langs[lang] == language?"selected":"" %>>
                        <%= langs[lang] %> 
                    </option>
            <% } %>
        </select>
        <div class="valid-feedback">
            <%= names["Looks good!"]%>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="username"><%= names["Username"]%></label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            <%= names["Looks good!"]%>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password"><%= names["Password"]%></label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            <%= names["Looks good!"]%>
        </div>
    </div>

    <button class="btn btn-success"><%= names["Login"]%></button>

    </form>

</div>
<script>
    $('#language').change(function () {
        window.location.href = `/login/${$(this).val()}`;

    });
</script>