<% layout('layouts/boilerplate')%>
<!-- <h1>Profile</h1> -->

<!-- <div class="mb-3">
    <label class="form-label" for="username">Username: <%=user.username%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email: <%=user.email%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="language">Language: <%=user.language%></label>
</div> -->

<div class="profile">

    <h1>Account Details</h1>  

    <dl> 
        
        <dt class="profile-info">Username: <%=user.username%></dt>
     

        <dt class="profile-info">Email: <%=user.email%></dt>
  

        <dt class="profile-info">Language: <%=user.language%></dt>
        
        <dt class="profile-info">
            <form action="/profile" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label " for="friendlist">Add Friend:</label>
                    <input class="form-control" type="text" id="friendlist" name="friendlist" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <button class="btn btn-success">Add</button>
            </form>
        </dt>
            <dt class="profile-info">Friend  request</dt>
            <% for (var i in friend) { %>
                <div class="card text-center">
                    <div class="card-body" friendlistId="<%= friend[i]._id %>" userId="<%= friend[i].userId %>" friendId="<%= friend[i].friendId %>">
                        <h5 class="card-title"><%= friend[i].username %></h5>
                        <a href="#" class="btn btn-success btn-sm friend_request_accept">Accept</a>
                        <a href="#" class="btn btn-danger btn-sm friend_request_decline">Decline</a>
                    </div>
                </div>
            <% } %>     
    <script src="/users/profile.js"></script>   
</div>