<% layout('layouts/boilerplate')%>
<!-- <h1>Profile</h1> -->

<!-- <div class="mb-3">
    <label class="form-label" for="username">Username: <%=user.username%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email: <%=user.email%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="language">Language: <%=user.language%></label>
</div> -->

<div class="profile">

    <h1>PROFILE</h1>  

    <div id="user">
        <img class="img-circle" src= <%= user.image? user.image: "/images/avatars/default_avatar.png" %> alt="">
    </div>

    <dl> 
        <dt class="profile-info">Username: <%=user.username%></dt>
     
        <dt class="profile-info">Email: <%=user.email%></dt>
  
        <dt class="profile-info">Language: <%=user.language%></dt>
    </dl>

</div>